/* Style Selector */
h3 {
    text-align: center;
    color: forestgreen;
    size: 65px;
}

p {
    text-align: center;
    color: green;
    size: 54px;
}

/* Class */
.formatted-paragraph {
    font-style: Helvetica;
    color: palegreen;
}

/* ID */
#custom-link {
    font-size: 48;
    color: pink;
}