/* Style Selector */
h3 {
    text-align: center;
    color: forestgreen;
    size: 54px;
}

p {
    text-align: center;
    color: green;
    size: 48px;
}

/* Class */
.formatted-paragraph {
    font-style: Helvetica;
    color: palegreen;
}
