/* Style Selector */
h3 {
    text-align: center;
    color: forestgreen;
    size: 120px;
}

/* Content box edits */
.content-box {
    background-color: paleturquoise;
    padding: 20px;
    text-align: left;
    width: 500px;
}

.content-box p {
    text-align: center;
    color: green;
    size: 54px;
}

/* Class */
.formatted-paragraph {
    font-style: Helvetica;
    color: darkslategrey;
}

/* ID */
#custom-link {
    font-size: 48;
    color: red;
}

#custom-link:hover {
    color: purple;
}